/****************HEART STYLES*****************/

/*CONTAINER TO ALIGN BOTH UNLIKED AND LIKED HEART*/
.heart-container{
  position: relative;
  margin-bottom: 0.5rem;
  margin-right: 2rem;

}

/*STYLE FOR LIKED/FULL HEART*/
.liked-heart{
  fill: linear-gradient(193deg, $secondary-color -11.44%, $primary-color 123.93%);
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1.1rem;
}

/*STYLE FOR EMPTY/UNLIKED HEARTS*/
.unliked-heart{
  font-size: 1.6rem;
  z-index: 99;
  margin-left: 1rem;
  position: absolute;
}



/*HEARTS STYLE ON MAIN PAGE*/
.heart-main{
  font-size: 1.6rem;
  position: absolute;
  left: 85%;
  bottom: 30%;
  flex-shrink: 0;
  border: none;
}



/*HEART ANIMATIONS*/

/*EMPTY HEART GOES INVISIBLE*/
.unliked-heart {
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  /*FULL HEART GOES VISIBLE*/
  .liked-heart {
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  

  
  /*TRIGGER ACTIONS WITH HOVER*/
  .heart-container:hover .unliked-heart {
    opacity: 0;
  }
  
  .heart-container:hover .liked-heart {
    opacity: 1;
    transform: scale(1.2);
  }
  
 
