
@mixin animation-loader{

  /*ADD GENERAL STYLE TO THE 3 LINES*/
.circle {
    width: 75px;
    height: 75px;
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid transparent;
    border-radius: 50%;
    right: 45%;
    top: 30%;
}

/*STYLE AND ANIMATION FOR PURPLE LINE*/
.circle.purple {
    border-top-color: $primary-color;
    animation: spin 1s linear infinite; 
}

/*STYLE AND ANIMATION FOR PINK LINE*/
.circle.pink {
    border-top-color: $secondary-color;
    animation: spin 2s linear infinite;
}

/*STYLE AND ANIMATION FOR GREEN LINE*/
.circle.green {
    border-top-color: $tertiary-color;
    animation: spin 3s linear infinite;
}



/*MAKE THE LINES SPIN FROM 0 TO 360*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        
    }
}

}


/*MAKE LOADER DISAPPEAR AFTER 2 SECONDS BY MOVING IT AWAY*/  
  @keyframes disappear {
    from {
      transform: translate(0);
    }
    to {
      transform: translateX(99999px);
    }
  }
  
  .hide-animation {
    animation: disappear 0s linear 2s;
    animation-fill-mode: forwards;
  }

