/*HTML TO USE IT

  <div class="animation-container">
            <div class="circle red"></div>
            <div class="circle blue"></div>
            <div class="circle green"></div>                */


@mixin animation-loader{
.circle {
    width: 75px;
    height: 75px;
    position: absolute;
    border: 5px solid transparent;
    border-top: 5px solid transparent;
    border-radius: 50%;
    right: 47%;
    top: 30%;
}

.circle.red {
    border-top-color: $primary-color;
    animation: spin 1s linear infinite; 
}

.circle.blue {
    border-top-color: $secondary-color;
    animation: spin 2s linear infinite;
}

.circle.green {
    border-top-color: $tertiary-color;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        
    }
}

}



  
  @keyframes disappear {
    from {
      transform: translate(0);
    }
    to {
      transform: translateX(99999px);
    }
  }
  
  .hide-animation {
    animation: disappear 0s linear 2s;
    animation-fill-mode: forwards;
  }

