 /*SCROLL BAR STYLE*/

 ::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: $primary-color;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color; 
    border-radius: 3px; 
}   