$primary-color: #9356DC;

$secondary-color: #FF79DA;

$tertiary-color: #99E2D0;

$white-color: #FFF;

$black-color: #101010;

$grey-color: #EAEAEA;

$light-grey-color:  #f6f6f6;

$dark-grey-color: #7E7E7E;

$gradient-color: var(--Button-Gradient, linear-gradient(to bottom right, $primary-color 100%, $secondary-color 0%));;




/*BUTTON GRADIENT STYLE*/
@mixin button-gradient {
    color: $white-color;
    width: 13.62rem;
    height: 3.15rem;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, $secondary-color -11.44%, $primary-color 123.93%));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-bottom: 3rem;
    transition: opacity 0.5s;
    cursor: pointer;

  /*ADD EXTRA STYLE ON HOVER*/
    &:hover {
        opacity: 0.8;
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  
      }
  }



  /*small icon style*/
  @mixin small-icon{
    color: $black-color;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;

}
