/*************Run compiler with following command:

        sass scss/main.scss assets/styles.css   

        OR
        
        sass --watch scss/main.scss:assets/styles.css************************/
@import "_loader-animation";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shrikhand&display=swap');

*{
    
    /*border-box dosnt change the sizes of items based on margin or pading*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.animation-loader{
    @include animation-loader;
    position: fixed;
    top: 40%;
    right: 52%;
    display: none;
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
}


/*DISPLAY PAGES*/
.main-page{
    display: none;
 }

.palette-page{
    display: block;
}

.note-page{
    display: none;
}

.francaise-page{
    display: none;
}

.delice-page{
    display: none;
}






/*Mobile first*/

    



    /*HEADER*/
    .header{
    @include header;


        .head-logo{
        @include head-logo;
        }
    }

    

    /*LOCATION*/
    .location{
   @include location;



        .fa-location-dot{
        @include small-icon;
        }


        .location-text{
        @include location-text;
        }
    }


    /*INFORMATION*/
    .information{
       @include information;
        
        


        .info-title{
          @include info-title;
        }


        .info-subtitle{
         @include info-subtitle;
        }


        .btn-gradient{
            @include button-gradient;
        }

        
    }

   


    /*FONCTIONNEMENT*/
    .function{
        @include function;


        .function-title{
            @include function-title;
        }


        .function-btn-container{
           @include function-btn-container;
           
        }


            .function-btn{
                @include function-button;
            }


            .function-icon{
                @include small-icon;
                margin-right: 1rem;
                color: $dark-grey-color;
            }

            /*this icon dosnt align well*/
            .fa-mobile-screen-button{
                margin-right: 0.4rem;
            }

            .fa-store{
                color: $primary-color;
                
            }

            .function-number{
                @include function-number;
            }

           
    }



    /*RESTAURANTS SECTION MAIN PAGE*/
    .restaurants{
       @include restaurants;
    }

    


    .restaurants-title{
        @include restaurants-title;
    }

    .restaurants-container{
        @include restaurants-container;
    }

    .restaurant-card{
       @include restaurant-card;
    }

        .restaurant-image{
            @include restaurant-image;
        }

        .restaurant-image-1-palette{
            @include restaurant-1-palette;
        }

        .restaurant-image-2-lanote{
            @include restaurant-2-lanote;
        }

        .restaurant-image-3-francaise{
            @include restaurant-3-francaise;
        }

        .restaurant-image-4-delice{
            @include restaurant-4-delice;
        }

        /*NEW TAG*/
        .new-tag{
           @include new-tag;
        }

        .restaurant-info{
            @include restaurant-info;
        }

        .restaurants-titles h2{
        @include restaurants-titles-h2;
        }


        .restaurants-titles h3{
           @include restaurants-titles-h3;
        }


        /*LIKE ICON*/
        .heart-main{
            @include heart-main;
        }

        .liked-heart{
           @include liked-heart;
        }

        
        /*hide and show hearts*/
        .heart1, .heart3, .heart4{
            opacity: 1;
        }

        .heart2{
            opacity: 0;
        }

        .like-heart2{
            opacity: 1;
        }





 /*FOOTER*/
 .footer{
    @include footer;
    
        .logo-footer{
          @include logo-footer;
            
        }

        .footer-icon{
            @include footer-icon;
        }


        .footer-menu{
            @include footer-menu;
           margin-bottom: 1px;
        }

        .footer-menu > *{
            height: 0.43rem;
        }

        
}






/*RESTAURANT PAGES*/
.restaurant-header{
   @include restaurant-header;



        .header-restaurant-title{
            @include header-restaurant-title;
        }

        .left-arrow{
           @include left-arrow;
        }
}



.restaurant-menu{
    @include restaurant-menu;

    .restaurant-title-menu{
        @include restaurant-title-menu;
    }


    .heart-menu{
       @include heart-menu;
        
    }

}



.menu-section{
    @include menu-section;
    
    


        .menu-title{
           @include menu-title;
        }



        .green-line{
            @include green-line;
        }

        .menu-choice{
            @include menu-choice;
        }

        .menu-choice > h3{
            @include menu-choice-h3;
        }   


    

        .menu-choice > h5{
            @include menu-choice-h5;
        }



        .menu-choice > h4{
            @include menu-choice-h4;
        }

}

    .commander{
        @include commander;


        .commander-btn{
            @include button-gradient;
            margin: 2.5rem 0 2.5rem 0;
        }
    }




    /*MEDIA QUERY 1024PX*/
    @media screen and (min-width: 768px){


        .btn-gradient{
            margin-bottom: 2rem;
        }

        /*need to nest to make it work?*/
        .function{
            height: 12rem;
           
            .function-title{
                margin-left: 3.5rem;
                margin-top: 1rem;
                
            }
        .function-btn-container{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3rem;
           

            .function-btn{
                width: 25%;
                
            }
        }
    }



        .restaurants{
            display: grid;
            width: 100%;
            padding-bottom: 1rem;
            margin-top: 4rem;



            .restaurant-info{
                padding-top: 1.5rem;
           
        }

            .restaurants-container{
                    width: 90vw;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 0.85rem;
                    

            }
            .restaurant-card{
                margin: 1rem;
                
               
            }

            .restaurant-info{
                padding-bottom: 1rem;
            }
        }



        .footer{
            
            display: flex;
            flex-direction: row-reverse;
            height: 114px;
            padding: 30px 25px;
            justify-content: flex-start;
            align-items: flex-end;
            flex-shrink: 0;


.logo-footer{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    margin-left: 5rem;
    margin-right: 1rem;
}



                .footer-menu{
                    display: flex;
                    flex-direction: row;
                    gap: 1.5rem;
                    padding-bottom: 1.5rem;
                    


                    .right-foot-menu{
                        padding-right: 2rem;
                        margin-left: 0;
                    }
                }
        }



        /*RESTAURANT PAGES +768PX*/

       
        .restaurant-menu{
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: center;

            .menu-section{
                width: 80%;
            }
        }









/*END OF MEDIA QUERY*/
}
    




/*scroll bar*/

::-webkit-scrollbar {
    width: 6px; /* You can adjust the width */
  }
  
  ::-webkit-scrollbar-track {
    background: $primary-color; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: $secondary-color; /* Thumb color */
    border-radius: 3px; /* Rounded corners */
  }